{% load i18n %}
<div class="billing-details">
    <div class="section-title">
        <h3 class="title">{% trans "User Panel" %}</h3>
    </div>
    <div class="aside">
    <ul class="list-links">
        <li><a href="{% url 'user_index' %}">{% trans "User Profile" %}</a></li>
        <li><a href="{% url 'user_orders' %}">{% trans "My Orders" %}</a></li>
        <li><a href="{% url 'user_order_product' %}">{% trans "My Orders Product" %}</a></li>
        <li><a href="{% url 'user_comments' %}">{% trans "My Comments" %}</a></li>
        <li><a href="#">{% trans "My Favorits" %}</a></li>
        <li><a href="#">{% trans "My Products" %}</a></li>
        <li><a href="/logout">{% trans "Logout" %}</a></li>
    </ul>
</div>
</div>